alembic==0.9.8
APScheduler==3.5.1
chainer==3.4.0
chainercv==0.8.0
chainerui==0.2.0
click==6.7
cycler==0.10.0
filelock==3.0.4
Flask==0.12.2
itsdangerous==0.24
Jinja2==2.10
kiwisolver==1.0.1
Mako==1.0.7
MarkupSafe==1.0
matplotlib==2.2.2
numpy==1.13.3
Pillow==5.0.0
protobuf==3.5.1
pyparsing==2.2.0
python-dateutil==2.7.0
python-editor==1.0.3
pytz==2018.3
six==1.11.0
SQLAlchemy==1.2.5
tzlocal==1.5.1
Werkzeug==0.12.2
